@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    font-family: 'Poppins', sans-serif;
}
img{
    width: 500px;
}
body{
    background-image: url(fundo.png);
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 100px;
}
h1{
    color: white;
}
a{
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
}
button{
    border-radius: 10px;
    border: none;
    height: 35px;
    width: 200px;
    background-color: rgb(112, 39, 39);
}